{{- $image := .Page.Resources.GetMatch (printf "%s" (.Destination | safeURL)) -}}
{{- $Permalink := .Destination | relURL | safeURL -}}
{{- $alt := .PlainText | safeHTML -}}
{{- $Width := 0 -}}
{{- $Height := 0 -}}
{{- $Srcset := "" -}}
{{- $isBlob := false -}}

{{/* SVG and external images won't work with gallery layout, because their width and height attributes are unknown */}}
{{- $galleryImage := false -}}

{{- if $image -}}
	{{- $notSVG := ne (path.Ext .Destination) ".svg" -}}
	{{- $Permalink = $image.RelPermalink -}}

	{{- if $notSVG -}}
		{{- $Width = $image.Width -}}
		{{- $Height = $image.Height -}}
		{{- $galleryImage = true -}}

		{{- if (default true .Page.Site.Params.imageProcessing.content.enabled) -}}
			{{- $small := $image.Resize `480x` -}}
			{{- $big := $image.Resize `1024x` -}}
			{{- $Srcset = printf `%s 480w, %s 1024w` $small.RelPermalink $big.RelPermalink -}}
		{{- end -}}
	{{- end -}}
{{- else -}}
	{{/* Image not found in page bundle, try Azure Blob Storage */}}
	{{- $pagePath := replace .Page.File.Dir "\\" "/" -}}
	{{- $blobBaseURL := "https://mariuswodtkeblog.blob.core.windows.net/images/" -}}
	{{- $Permalink = printf "%s%s%s" $blobBaseURL $pagePath .Destination -}}
	{{/* Use default aspect ratio for gallery flex calculations, but don't set img width/height */}}
	{{- $Width = 800 -}}
	{{- $Height = 600 -}}
	{{- $galleryImage = true -}}
	{{- $isBlob = true -}}
{{- end -}}

<img src="{{ $Permalink }}"
	{{ with $Width }}width="{{ . }}"{{ end }}
	{{ with $Height }}height="{{ . }}"{{ end }}
	{{ with $Srcset }}srcset="{{ . }}"{{ end }}
	loading="lazy"
	{{ with $alt }}
		alt="{{ . }}"
	{{ end }}
	{{ if $galleryImage }}
		class="gallery-image" 
		data-flex-grow="{{ div (mul $Width 100) $Height }}"
		data-flex-basis="{{ div (mul $Width 240) $Height }}px"
	{{ end }}
	{{ if $isBlob }}
		data-blob-image="true"
	{{ end }}
>