*.presso
resources/_gen/*
**/notes.txt
.vscode/settings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/Marius-Wodtke-Blog/FileContentIndex/*.vsidx
.vs/Marius-Wodtke-Blog/FileContentIndex/read.lock
.vs/Marius-Wodtke-Blog/v17/.wsuo
public/**
